VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=change-this-password

VITE_FIREBASE_API_KEY=AIzaSyDM8YF5v52fdRc6fEZe-e528eSjhkiNOU4
VITE_FIREBASE_AUTH_DOMAIN=rafi-sharkar.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rafi-sharkar
VITE_FIREBASE_STORAGE_BUCKET=rafi-sharkar.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=190905282016
VITE_FIREBASE_APP_ID=1:190905282016:web:8dc07f036d2ca99b090f85
